
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale}">
<head>
    <title th:text="#{library}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: rgb(225,225,225)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}" th:text="#{library}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{home}"></a>
                </li>
                <li class="nav-item">
                    <form method="post" th:action="@{/auth/logout}">
                        <button class="nav-link active" role="button" aria-current="page" type="submit" style="background-color: transparent; border: none; cursor:pointer;" th:text="#{logout}"></button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="get" th:action="@{/profile}">
                        <button class="nav-link active" role="button" aria-current="page" type="submit" style="background-color: transparent; border: none; cursor:pointer; " th:text="#{profile}"></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="nav-item">
            <div th:replace="fragments/roleButtons.html :: roleButtons"></div>
        </div>

        <div th:replace="fragments/localization.html :: localization"></div>

    </div>
</nav>
<div style="margin-left: 20%; margin-right: 20%; padding: 5%">

    <div class="d-flex justify-content-start" style="margin-top: 15px">
        <form class="form-inline mx-auto" method="post" th:action="@{/admin}">
            <input class="form-control mr-sm-2" type="search" th:attr="placeholder=#{search}" aria-label="Search" name="id"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{search}"></button>
        </form>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal" style="margin: 3px" th:text="#{button.add}"></button>
    <!-- Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel" th:text="#{form.book.name}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" th:action="@{/admin/add}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="firstName" class="form-label text-dark" th:text="#{form.first.name}"></label>
                            <input class="form-control" id="firstName" name = "firstName" aria-describedby="first name">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label text-dark" th:text="#{form.last.name}"></label>
                            <input class="form-control" id="lastName" name = "lastName" aria-describedby="last name">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label text-dark" th:text="#{form.email}">Email</label>
                            <input type="email" class="form-control" id="email" name = "email" aria-describedby="emailHelp">
                            <div id="emailHelp1" class="form-text  text-muted" th:text="#{form.message}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-dark" th:text="#{form.password}"></label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label text-dark" th:text="#{form.password.confirm}"></label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        </div>

                        <script>
                            let password = document.getElementById("password")
                                , confirm_password = document.getElementById("confirm_password");

                            function validatePassword(){
                                if(password.value !== confirm_password.value) {
                                    confirm_password.setCustomValidity("Passwords Don't Match");
                                } else {
                                    confirm_password.setCustomValidity('');
                                }
                            }
                            password.onchange = validatePassword;
                            confirm_password.onkeyup = validatePassword;
                        </script>
                        <div class="mb-3">
                            <label for="birthday" class="form-label text-dark" th:text="#{form.birhtday}"></label>
                            <input class="form-control" type="date" value="2000-01-01" id="birthday" name="birthday" aria-describedby="birthday">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label text-dark" th:text="#{form.phone}"></label>
                            <input class="form-control" id="phone" name = "phone" aria-describedby="phone number">
                        </div>
                        <div class="form-group">
                            <label for="role">USER</label>
                            <select class="form-control" id="role" name="role">
                                <option>ADMIN</option>
                                <option>LIBRARIAN</option>
                                <option>USER</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.close}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{button.add}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start" style="margin-top: 20px">
        <ul class="pagination">
            <th:block>
                <th:block th:if="${from > 0}">
                    <li class="page-item">
                        <form method="post" th:action="@{/admin}">
                            <input type="hidden" name="from" th:value="${from - 20}"/>
                            <button class="page-link text-light bg-dark" type="submit" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </form>
                    </li>
                </th:block>
                <th:block th:unless="${from > 0}">
                    <li class="page-item disabled">
                        <button class="page-link" type="button" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                </th:block>
            </th:block>
            <th:block>
                <th:block th:if="${(from+20) < count}">
                    <li class="page-item">
                        <form method="post" th:action="@{/admin}">
                            <input type="hidden" name="from" th:value="${from + 20}"/>
                            <button class="page-link text-light bg-dark" type="submit" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </form>
                    </li>
                </th:block>
                <th:block th:unless="${(from+20) < count}">
                    <li class="page-item disabled">
                        <button class="page-link" type="button" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>

    <ul class="list-group">
        <th:block th:each="user: ${userList}">
            <li class="list-group-item">
                <span th:text="${user.firstName} + ' ' + ${user.lastName} + ' | ' + ${user.role}"></span>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" th:attr="data-target='#' + ${user.id}" style="margin: 3px" th:text="#{button.edit}">Edit</button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" th:attr="data-target='#' + ${user.id} + 'deleteModal'" style="margin: 3px" th:text="#{button.delete}"></button>
                    <form method="post" th:action="@{/admin/block}">
                        <input name="id" type="hidden" th:value="${user.id}">
                        <input name="block" type="hidden" th:value="${not user.block}">
                        <button type="submit" class="btn btn-outline-warning" style="margin: 3px">
                            <div>
                                <div th:if="${user.block}" th:text="#{button.unblock}"></div>
                                <div th:unless="${user.block}" th:text="#{button.block}"></div>
                            </div>
                        </button>
                    </form>
                </div>
            </li>
            <!--delete user modal-->
            <div class="modal fade" th:id="${user.id} + 'deleteModal'" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel" th:text="'Delete user' + ${user.email} + '?'"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" th:text="#{delete.user.message}"></div>
                        <form method="post" th:action="@{/admin/deleteUser}">
                            <input type="hidden" name="id" th:value="${user.id}"/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.close}"></button>
                                <button type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--modal edit user-->
            <div class="modal fade" th:id="${user.id}" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Label" th:text="#{button.edit}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" th:action="@{/admin/updateUser}">
                            <div class="modal-body">
                                <input name="id" type="hidden" th:value="${user.id}">
                                <div class="mb-3">
                                    <label for="firstNameEdit" class="form-label text-dark" th:text="#{form.first.name}"></label>
                                    <input class="form-control" id="firstNameEdit" name = "firstName" aria-describedby="first name" th:value="${user.firstName}">
                                </div>
                                <div class="mb-3">
                                    <label for="lastNameEdit" class="form-label text-dark" th:text="#{form.last.name}"></label>
                                    <input class="form-control" id="lastNameEdit" name = "lastName" aria-describedby="last name" th:value="${user.lastName}">
                                </div>
                                <div class="mb-3">
                                    <label for="emailEdit" class="form-label text-dark" th:text="#{form.email}"></label>
                                    <input type="email" class="form-control" id="emailEdit" aria-describedby="emailHelp" th:value="${user.email}" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="birthdayEdit" class="form-label text-dark" th:text="#{form.birhtday}"></label>
                                    <input class="form-control" type="date" id="birthdayEdit" name="birthday" aria-describedby="birthday" th:value="${user.birthday}">
                                </div>
                                <div class="mb-3">
                                    <label for="phoneEdit" class="form-label text-dark" th:text="#{form.phone}"></label>
                                    <input class="form-control" id="phoneEdit" name = "phone" aria-describedby="phone number" th:value="${user.phone}">
                                </div>
                                <div class="form-group">
                                    <label for="roleEdit" th:text="${user.role.toString()}"></label>
                                    <select class="form-control" id="roleEdit" name="role">
                                        <option>ADMIN</option>
                                        <option>LIBRARIAN</option>
                                        <option>USER</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.close}"></button>
                                <button type="submit" class="btn btn-primary" th:text="#{button.edit}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </ul>
</div>
<div th:replace="fragments/mainFooter.html :: mainFooter"></div>
</body>
</html>
