<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale}">
<head>
  <title th:text="#{library}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: rgb(225,225,225)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}" th:text="#{library}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{home}"></a>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form method="post" th:action="@{/auth/logout}">
                            <button class="nav-link active" role="button" aria-current="page" type="submit" style="background-color: transparent; border: none; cursor:pointer;" th:text="#{logout}"></button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
        <div class="nav-item">
            <div th:replace="fragments/roleButtons.html :: roleButtons"></div>

        </div>
        <div th:replace="fragments/localization.html :: localization"></div>
    </div>
</nav>
<th:block th:if="${order}">

    <div class="modal fade" id="orderInfo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="orderInfoLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderInfoLabel">Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="1bookName" class="form-label text-dark" th:text="#{form.book.name}"></label>
                        <input class="form-control border border-dark rounded" id="1bookName" name="bookName" th:value="${order.getBook().getName()}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="1term" class="form-label text-dark" th:text="#{form.book.term}"></label>
                        <input class="form-control border border-dark rounded" type="date" id="1term" name = "term" th:value="${order.getTerm()}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="1date" class="form-label text-dark" th:text="#{form.order.date}"></label>
                        <input class="form-control border border-dark rounded" type="date" id="1date" name = "date" th:value="${order.getOrderDate()}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="1status" class="form-label text-dark" th:text="#{form.book.status}"></label>
                        <input class="form-control border border-dark rounded" id="1status" name = "status" th:value="${order.getStatus()}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="1fine" class="form-label text-dark" th:text="#{form.order.fine}"></label>
                        <input class="form-control border border-dark rounded" id="1fine" name = "fine" th:value="${order.getFine()}" disabled>
                    </div>
                    <div class="d-flex justify-content-start">
                        <th:block th:if="${order.getStatus().name() == 'EXPIRED'}">
                            <form method="post" th:action="@{/order/pay}">
                                <input type="hidden" name="id" th:value="${order.id}"/>
                                <button type="submit" class="btn btn-outline-primary" style="margin: 2px" th:text="#{order.pay}"></button>
                            </form>
                        </th:block>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</th:block>

<div style="margin-left: 20%; margin-right: 20%; padding: 5%">
    <div class="mb-3 ">
        <label for="firstName" class="form-label text-dark" th:text="#{form.first.name}"></label>
        <input class="form-control border border-dark rounded" id="firstName" name = "firstName" aria-describedby="first name" th:value="${user.firstName}" disabled>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label text-dark" th:text="#{form.last.name}"></label>
        <input class="form-control border border-dark rounded" id="lastName" name = "lastName" aria-describedby="last name" th:value="${user.lastName}" disabled>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label text-dark" th:text="#{form.email}"></label>
        <input type="email" class="form-control border border-dark rounded" id="email" name = "email" aria-describedby="emailHelp" th:value="${user.email}" disabled>
    </div>

    <div class="mb-3">
        <label for="birthday" class="form-label text-dark" th:text="#{form.birhtday}"></label>
        <input class="form-control border border-dark rounded" type="date" id="birthday" name="birthday" aria-describedby="birthday" th:value="${user.birthday}" disabled>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label text-dark" th:text="#{form.phone}"></label>
        <input class="form-control border border-dark rounded" id="phone" name = "phone" aria-describedby="phone number" th:value="${user.phone}" disabled>
    </div>
    <!--  Pagination  -->
    <div class="d-flex justify-content-start" style="margin-top: 20px">
        <ul class="pagination">
            <li th:if="${from} > 0" class="page-item">
                <form method="post" th:action="@{/order}">
                    <input type="hidden" name="from" th:value="${from - 20}"/>
                    <button class="page-link text-light bg-dark" type="submit" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </form>
            </li>
            <li th:unless="${from} > 0" class="page-item disabled">
                <button class="page-link" type="button" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            <li th:if="${from + 20} < ${count}" class="page-item">
                <form method="post" th:action="@{/order}">
                    <input type="hidden" name="from" th:value="${from + 20}"/>
                    <button class="page-link text-light bg-dark" type="submit" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </form>
            </li>
            <li th:unless="${from + 20} < ${count}" class="page-item disabled">
                <button class="page-link" type="button" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
        </ul>
    </div>
    <div>
        <h3 th:text="#{order.list.profile}"></h3>
        <ul class="list-group border rounded">

                <div th:if="${orderList.size() > 0}">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{order.id}"></th>
                            <th scope="col" th:text="#{form.book.term}"></th>
                            <th scope="col" th:text="#{form.book.status}"></th>
                            <th scope="col" th:text="#{order.action}"></th>

                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:if="${orderList.size() > 0}" th:each="orderItem : ${orderList}">
                                <tr class="table-success">
                                    <th scope="row" th:text="${orderItem.id}"></th>
                                    <td th:text="${orderItem.term}"></td>
                                    <td th:text="${orderItem.status.name()}">
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <th:block th:if="${orderItem.status.name == 'EXPIRED'}">
                                            <form method="post" th:action="@{/order/pay}">
                                                <input type="hidden" name="id" th:value="${orderItem.id}"/>
                                                <button type="submit" class="btn btn-outline-primary" style="margin: 2px" th:text="#{order.pay}"></button>
                                            </form>
                                        </th:block>
                                        <form method="get" th:action="@{/order/} + ${orderItem.id}">
                                            <button type="submit" class="btn btn-outline-primary" style="margin: 2px" th:text="#{button.view}"></button>
                                        </form>
                                    </td>
                                </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${orderList.size() > 0}">
                    <p th:text="#{order.not.exist.message}"></p>
                </div>
        </ul>
    </div>
</div>
<div th:replace="fragments/mainFooter.html :: mainFooter"></div>

<script>
    $(document).ready(function(){
        $("#orderInfo").modal('show');
    });
</script>
</body>
</html>